body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow: hidden;
}

.divImg {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  font-size: 24px;
  border-radius: 10px;
  flex-direction: column;
}

.messageElement {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 30%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  font-size: 24px;
  border-radius: 10px;
}
.detailNewFish {
  padding-top: 10px;
  display: none;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.txtFish {
  justify-self: center;
  align-self: center;
  font-size: xx-large;
}

.imgRecord {
  display: none;
  width: 30px;
  height: 25px;
  rotate: 30deg;
  transform: translate(-15px, -15px);
}

.progress-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 500px;
  min-height: 125px;
  max-height: 150px;
  padding: 10px;
  background-color: #141414;
  border: 1px solid #666666;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background-color: #ff0000;
}

.time-remaining {
  position: absolute;
  bottom: 15px; /* Ajustez cette valeur en fonction de la mise en page souhaitée */
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
}

.imageSpam {
  width: 45vh;
}

button#showListButton,
div#listContainer {
  position: absolute;
  z-index: 2; /* Assurez-vous que le bouton et la liste sont au-dessus du canvas */
}

button#showAchievementsButton,
div#listContainer {
  position: absolute;
  z-index: 2; /* Assurez-vous que le bouton et la liste sont au-dessus du canvas */
}

button#showListButton {
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: #141414;
  border-radius: 5px 05px 0px 0px;
  border-width: 2px 2px 2px 2px;
  border-color: #666666;
  width: 70px;
  height: 70px;
}

button#showListButton:hover {
  cursor: pointer;
}

button#showListButton.clicked {
  border-width: 2px 2px 0px 2px;
}

button#showAchievementsButton {
  top: 10px;
  left: 90px;
  padding: 10px;
  background-color: #141414;
  border-radius: 5px 05px 0px 0px;
  border-width: 2px 2px 2px 2px;
  border-color: #666666;
  width: 70px;
  height: 70px;
}

button#showAchievementsButton:hover {
  cursor: pointer;
}

button#showAchievementsButton.clicked {
  border-width: 2px 2px 0px 2px;
}

div#listContainer {
  z-index: 1;
  top: 78px;
  left: 10px;
  background-color: #141414;
  border-color: #666666;
  border-width: 2px;
  border-style: solid;
  border-radius: 0px 5px 5px 5px;
  padding: 20px;
  max-height: 82vh;
  min-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #ffffff #141414;
  display: flex;
  flex-direction: row;
}

div#achievementListElement {
  position: absolute;
  z-index: 1;
  top: 78px;
  left: 10px;
  background-color: #141414;
  border-color: #666666;
  border-width: 2px;
  border-style: solid;
  border-radius: 0px 5px 5px 5px;
  padding: 20px;
  max-height: 80vh;
  min-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #ffffff #141414;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.fish-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px 10px; /* Espacement entre les éléments */
}

/* Personnalisation de la piste de la barre de défilement */
#listContainer::-webkit-scrollbar {
  width: 10px; /* Largeur de la barre de défilement */
}

/* Personnalisation de la poignée de la barre de défilement */
#listContainer::-webkit-scrollbar-thumb {
  background-color: #000000; /* Couleur de la poignée */
}

.hidden {
  display: none !important;
}

.imgBtn {
  width: 40px;
}

p {
  background-color: #141414;
  color: #ffffff;
}

.list-item-container {
  display: flex;
  align-items: center;
}

.fish-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fish-image {
  width: 200px;
  cursor: pointer;
}

#fishDetailImageShiny {
  margin-top: -20px;
}

.fish-text-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.fish-name {
  margin-top: -10px;
}

.shiny-icon {
  width: 10px;
  padding-right: 5px;
}

.fish-progress-container {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%); /* Pour centrer horizontalement */
  width: 200px;
  height: 40px;
  background-color: #232323;
  border: 1px solid #666;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Placez les éléments en colonne */
  align-items: center;
}

.fish-progress-bar {
  height: 10px; /* Ajustez selon la hauteur de la barre de progression */
  width: 0%;
  background-color: #4caf50;
  transition: width 0.2s ease-in;
}

.percent {
  color: white;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  padding: 10px 0; /* Ajustez la marge au-dessus de la barre de progression */
}

.fish-details {
  position: absolute;
  background-color: #141414;
  padding: 10px;
  text-align: center;
  color: #fff;
  min-width: 400px;
  max-width: 400px;
  right: 10px;
  top: 10px;
  z-index: 3;
  border-radius: 5px;
  border: #666 2px solid;
  padding: 30px;
}

.fish-detail-image {
  max-width: 300px;
  max-height: 300px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
}

.detail {
  margin: 5px;
}

.directions {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 150px;
}

#soundBtn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: transparent;
  border-style: none;
}

#soundBtn :hover {
  cursor: pointer;
}

.soundImg {
  width: 70px;
}

.splashScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-image: url("../assets/images/splashScreen.png");
  background-size: cover;
}

.loading-progress-container {
  width: 100%;
  max-width: 400px;
  height: 15px;
  background-color: #dddddd00;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.loading-bar {
  width: 0%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 5px 0 0 5px;
}

.progress-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #ccc; /* Couleur de fond de la barre */
}

.segment-1 {
  background-color: #ff0000;
  width: 10%; /* Couleur du premier segment */
}

.segment-2 {
  background-color: #ff6a00; /* Couleur du deuxième segment */
  transition: width 0.5s;
}

.segment-3 {
  background-color: rgb(44, 119, 56); /* Couleur du troisième segment */
}

.segment-4 {
  background-color: #ff6a00;
  transition: width 0.5s; /* Couleur du quatrième segment */
}

.segment-5 {
  background-color: #ff0000;
  width: 10%; /* Couleur du cinquième segment */
}

.game-container {
  position: relative;
  width: 100%;
  min-height: 40px; /* Ajustez la hauteur en fonction de vos besoins */
}

.horizontal-bar-container {
  width: 100%; /* Ajustez cette valeur si nécessaire */
  height: 40px;
  background-color: #333;
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.bar-segment {
  height: 100%;
  transition: background-color 1s;
}

.vertical-bar {
  width: 3px; /* Largeur de la barre verticale */
  height: 40px;
  background-color: rgb(19, 18, 18); /* Couleur de la barre verticale */
  border: rgb(19, 18, 18) 1px solid;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0; /* Ajustez la position initiale si nécessaire */
}

#counter {
  color: #fff;
  font-size: xx-large;
  margin-top: 10px;
}

.confetti {
  position: absolute;
  width: 15px;
  height: 8px;
  background-color: red;
  pointer-events: none;
}

.achievement-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
}

.achievement-item-image {
  width: 90px;
  padding: 10px 15px;
}

.achievement-item-title {
  color: #fff;
}

.notification {
  position: fixed;
  bottom: -100px; /* Cache l'élément en dehors de l'écran */
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 0.5s ease-in-out; /* Animation pour le déplacement vers le bas */
  z-index: 1000;
}

.notification-image {
  width: 250px; /* Ajustez la taille selon vos besoins */
  height: auto;
}

/* Classe pour afficher l'élément */
.notification.show {
  bottom: 20px; /* Fait apparaître l'élément en bas de l'écran */
}

.notification.slide-up {
  bottom: -100px;
}

.notification.slide-down {
  bottom: 20px;
}

.property {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.imgLink {
  width: 20px;
  padding: 0px 5px;
}
