body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.divImg {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  font-size: 24px;
  border-radius: 10px;
}

.messageElement {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 30%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  font-size: 24px;
  border-radius: 10px;
}

.progress-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 200px;
  height: 10px;
  background-color: #ffffffcc;
  border: 1px solid #0842578d;
  border-radius: 5px;
  overflow: hidden;
  padding-top: 30px;
}

.progress-bar {
  height: 100%;
  width: 1%;
  background-color: #ff0000;
}

.time-remaining {
  position: absolute;
  bottom: 15px; /* Ajustez cette valeur en fonction de la mise en page souhaitée */
  left: 0;
  width: 100%;
  text-align: center;
}

.imageSpam {
  width: 45vh;
}

button#showListButton,
div#listContainer {
  position: absolute;
  z-index: 2; /* Assurez-vous que le bouton et la liste sont au-dessus du canvas */
}

button#showListButton {
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: #141414;
  border-radius: 5px 05px 0px 0px;
  border-width: 2px 2px 2px 2px;
  border-color: #666666;
  width: 70px;
  height: 70px;
}

button#showListButton:hover {
  cursor: pointer;
}

button#showListButton.clicked {
  border-width: 2px 2px 0px 2px;
}

div#listContainer {
  z-index: 1;
  top: 78px;
  left: 10px;
  background-color: #141414;
  border-color: #666666;
  border-width: 2px;
  border-style: solid;
  border-radius: 0px 5px 5px 5px;
  padding: 20px;
  max-height: 80vh;
  min-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #ffffff #141414;
  display: flex;
  flex-direction: row;
}

.fish-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px 10px; /* Espacement entre les éléments */
}

/* Personnalisation de la piste de la barre de défilement */
#listContainer::-webkit-scrollbar {
  width: 10px; /* Largeur de la barre de défilement */
}

/* Personnalisation de la poignée de la barre de défilement */
#listContainer::-webkit-scrollbar-thumb {
  background-color: #000000; /* Couleur de la poignée */
}

.hidden {
  display: none !important;
}

.imgBtn {
  width: 40px;
}

p {
  background-color: #141414;
  color: #ffffff;
}

.list-item-container {
  display: flex;
  align-items: center;
}

.fish-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fish-image {
  width: 200px;
  cursor: pointer;
}

.fish-name {
  margin-top: -10px;
}

.fish-progress-container {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%); /* Pour centrer horizontalement */
  width: 200px;
  height: 40px;
  background-color: #232323;
  border: 1px solid #666;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Placez les éléments en colonne */
  align-items: center;
}

.fish-progress-bar {
  height: 10px; /* Ajustez selon la hauteur de la barre de progression */
  width: 0%;
  background-color: #4caf50;
  transition: width 0.2s ease-in;
}

.percent {
  color: white;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  padding: 10px 0; /* Ajustez la marge au-dessus de la barre de progression */
}

.fish-details {
  position: absolute;
  background-color: #141414;
  padding: 10px;
  text-align: center;
  color: #fff;
  min-width: 400px;
  max-width: 400px;
  right: 10px;
  top: 10px;
  /* transform: translate(50%, -50%); */
  z-index: 3;
  border-radius: 5px;
  border: #666 2px solid;
  padding: 30px;
}

.fish-detail-image {
  max-width: 300px;
  max-height: 300px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
}

.detail {
  margin: 5px;
}
